---
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  pre-commit:
    uses: "acebackapp/.github/.github/workflows/pre-commit.yml@main"
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
      issues: write
