---
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  release:
    uses: "acebackapp/.github/.github/workflows/release.yml@main"
    secrets: inherit
    permissions:
      contents: write
      issues: write
      pull-requests: write
